APP_ENV=development
APP_URL=

GEMINI_API_KEY=
API_KEY=
MODEL_NAME=gemini-2.5-flash

DATABASE_URL=
DIRECT_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=notifications@your-verified-domain.com

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=

ZALOPAY_APP_ID=
ZALOPAY_KEY1=
ZALOPAY_KEY2=

GOOGLE_MAPS_PLATFORM_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
